.g-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 80%;
  backdrop-filter: blur(150px);
  z-index: 1;
}

@media (min-width: 1025px) {
  .g-bg::before {
    height: 100%;
  }
}
